@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Hind";
	color: #FFF;
}

h1, h2, h3, h4, h5, h6, li:first-child, .logo {
	font-family: "Montserrat";
}

body {
	background-color: #131416;
}

.schematic::before {
	content: "";
	width: 11rem;
	height: 1px;
	border-top: 4px solid white;
	position: absolute;
	left: -13em;
	top: 0.5em;
}

